.Song {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
  width: 100%;
}

.Info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 1rem;
    margin-bottom: 0.2rem;

    @media (min-width: 30rem) {
      font-size: 1.5rem;
    }
  }

  p {
    margin: 0;
    color: #ccc;
    font-size: 1rem;
  }
}

.Action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  background: none;
  color: #ccc;
  border: none;
  transition: 0.3s;

  &:hover {
    color: white;
  }
}
